<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">My Post</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/" target="_blank">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
        </li>
        </ul>
        {% if user.is_authenticated %}
      <ul class="nav justify-content-end">
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'createpost' %}">CreatePost</a></li>
           {% comment %} <li class="nav-item ">
          <a class="nav-link" href="{% url 'current' %}">Draft</a></li>
           <li class="nav-item "> {% endcomment %}
              <form action="{% url 'logoutuser' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
          </li>
           <li class="nav-item ">
          <a class="nav-link" href="#">Welcome:{{user.username}}</a></li>
          {% else %}
          {% comment %} <li class="nav-item ">
          <a class="nav-link" href="{% url 'signupuser' %}">Sign in</a>
          </li> {% endcomment %}
          {% comment %} <li class="nav-item ">
          <a class="nav-link" href="{% url 'loginuser' %}">Log in</a>
        </li> {% endcomment %}
     </ul>
        <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link " href="{% url 'loginuser' %}">Log in</a>
  </li>
  
</ul>
    {% endif %}

</ul>
    </div>
    
  </div>
  
</nav>
{% block content %}{% endblock content %}
</body>
</html>